* {
    margin: 0;
    padding: 0;
}
div#world-map {
    margin-top: 50px;
    margin: auto;
    width: 80%;
    svg {
        border: 1px solid gray;
    }
    .countries {
        fill: #aabbaa;
        fill-opacity: .5;
        stroke: #333333;
        stroke-width: 1px;
        &:hover {
            fill: red;
        }
    }
}



